h2 {
    color: #5483EA;
    font-family: arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 5px;
}


.mailInput {
    width: 200px;
    height: 40px;
    border: 1px solid #5382ea;
    padding: 5px;
    border-radius: 4px;
}

.alertError {
    width: 250px;
    height: 40px;
    color: #c0392b;
}

.alertSuccess {
    width: 250px;
    height: 40px;
    color: #129812;
}

.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.buttons {
    width: 200px;
    height: 40px;
    border: 1px solid #5382ea;
    background-color: #5382ea;
    padding: 5px;
    border-radius: 4px;
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.errorMail {
    background-color: #ffff;
    border-left-color: #ffff;
    color: #c0392b;
    padding: 5px;
}