h2 {
    color: #5483EA;
    font-family: arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 5px;
}


.mailInput {
    width: 200px;
    height: 40px;
    border: 1px solid #5382ea;
    padding: 5px;
    border-radius: 4px;
}

.alertError {
    background-color: #f2d7d5;
    border-left-color: #c0392b;
    color: #c0392b;
}

.alertSuccess {
    background-color: #d5f5e3;
    border-left-color: #2ecc71;
    color: #2ecc71;
}

.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}